.clicks-table {
    width: 100%;
    border-collapse: collapse;
    padding-right: 20px;
}


.clicks-table th,
.clicks-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.clicks-table th {
    background-color: #f2f2f2;
}

.clicks-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.clicks-table tr:hover {
    background-color: #ddd;
}

.clicks-button {
    background-color: aquamarine;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}