.campaigns-table {
    width: 100%;
    border-collapse: collapse;
}

.campaigns-table th,
.campaigns-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.campaigns-table th {
    background-color: #f2f2f2;
}

.campaigns-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.campaigns-table tr:hover {
    background-color: #ddd;
}

.campaigns-button {
    background-color: aquamarine;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}